In [1]:
import pandas as pd
import numpy as np

In [2]:
nus_median_gross_pay_2013to2015 = {
'BA' : [3000,3000,3000],
'BA (Honours)' : [3200,3520,3800],
'BA (Accountancy)' : [2700,2838,2850],
'BA (Accountancy) (Honours)' : [2800,2912,3000]
} 


df = pd.DataFrame(nus_median_gross_pay_2013to2015)


print(df)

     BA  BA (Honours)  BA (Accountancy)  BA (Accountancy) (Honours)
0  3000          3200              2700                        2800
1  3000          3520              2838                        2912
2  3000          3800              2850                        3000